body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
  
  header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
  }
  
  header label {
    margin-left: auto;
  }
  
  time {
    display: block;
    font-weight: bold;
  }
  
  em {
    display: block;
    color: gray;
    font-style: italic;
  }
  
  .legend {
    display: flex;
    gap: 1px;
    margin-block: 1em;
    border-radius: 0.5em;
    overflow: hidden;
  }
  
  .legend > div {
    flex: 1;
    background: var(--color);
    padding: 0.3em 1em;
    color: white;
    font-size: 0.85em;
  }
  
  .legend > div:first-child { text-align: left; }
  .legend > div:nth-child(2) { text-align: center; }
  .legend > div:last-child { text-align: right; }