body {
    font: 100%/1.5 system-ui, sans-serif;
    max-width: 80em;
    margin-inline: auto;
    padding: 1em;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
  }
  
  header label {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  
  time {
    display: block;
    font-weight: bold;
  }
  
  em {
    display: block;
    color: gray;
    font-style: italic;
  }
  
  .legend {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-block: 1em;
    justify-content: center;
  }
  
  .legend > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.85em;
  }
  
  .legend > div::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--color);
  }